[2017-03-08 15:26] roboticsound opened #1 "[FEATURE] Add minimum availability"
Add option in the UI to select minimum availability

[2017-03-08 19:21] roboticsound opened #2 "[FEATURE] Add 'add and search'"
Add button to add a movie and tell Radarr to immediately search for it.

[2017-03-09 07:15] bjornwahman opened #3 "Reverse proxy"
Hi, Thanks for this addon. Im behind a https reverse proxy using letsencrypt certificate.
I cant figure out how to setup pulsarr with it.
My radarr have the url: https://myhost.com/radarr
is there support for this setup?
Thank you

[2017-03-09 07:51] roboticsound commented on #3
Hmm maybe not I will take a look this weekend.

[2017-03-09 08:30] bjornwahman commented on #3
I have tried
Host: https://myhost.com/radarr
Port: empty
Api key: XXXXXXXX

Host: https://myhost.com/radarr
Port: 443
Api key: XXXXXXXX

Host: myhost.com/radarr
Port: 443
Api key: XXXXXXXX

Host: http://myhost.com/radarr
Port: 443
Api key: XXXXXXXX

I am happy to test and help in any way possible :)

[2017-03-09 16:44] yoasif opened #4 "Support Firefox"
Since Firefox now supports [WebExtensions](https://wiki.mozilla.org/WebExtensions), this should be a fairly simply procedure.

[2017-03-09 21:33] roboticsound commented on #3
@bjornwahman I am hoping this is now fixed, though I don't have a reverse proxy set up so I am hoping that you are able to test. Are you able to download zip from github and test with your setup?

[2017-03-10 23:16] bjornorri commented on #3
@roboticsound It appears that it is not fixed.

I'm experiencing the same problem with the same setup (reverse proxy and SSL).

[2017-03-10 23:19] roboticsound commented on #3
Did you download the latest version from github?

[2017-03-11 00:23] bjornorri commented on #3
I just blindly assumed the latest version was deployed, my bad. Pulled and tried it and it worked fine 👍

For the record I used the following options format:
Host: https://myhost.com/radarr
Port: empty
Api key: XXXXXXXX

[2017-03-11 00:40] roboticsound commented on #3
Ok good, I will push this out in a minor release tomorrow. Thanks for trying it out.

[2017-03-11 00:40] #3 closed

[2017-03-11 00:42] roboticsound commented on #1
d1cb10af1f0d33b1513f8cef02b6c4e0468131f3

[2017-03-11 00:43] #1 closed

[2017-03-12 19:18] roboticsound opened #6 "Basic Auth"

[2017-03-13 22:12] roboticsound opened #7 "Support for Sonarr (TV series)"

[2017-03-18 22:06] jcspradley opened #8 "Memory usage seems to be high at 200MB"
Extension appears to be using 200MB just sitting there idling.

![pulsarr](https://cloud.githubusercontent.com/assets/26350308/24076386/6277f1d0-0c05-11e7-89c0-c8931da23710.png)

Mac OSX 10.12.3
Chrome Version 57.0.2987.98 (64-bit)

[2017-03-19 16:57] roboticsound commented on #8
I'm not quite sure what is going on here. Is it always like this even after a restart? I have not tested on Mac but for me it uses about 1kB when idling and around 30kB when working.

[2017-03-19 19:10] roboticsound commented on #2
Added with 622345fe602d5140ba27729a5e6361d90323bd68

[2017-03-19 19:10] #2 closed

[2017-03-20 00:51] jcspradley commented on #8
I've been keeping an eye on it to try and provide you with a little more info. After a restart, without having used it, it was using approximately 45-47MB. After using it once it jumped up to 120MB and then came back down to 97.9MB. After using it a second time it jumped up to about 197MB and then came back down to 146MB. After a third use it actually didn't jump up at all and then went down to 13

[2017-03-23 06:26] chaosking121 opened #10 "Bug in line 159 of popup.js"
I'm new to javascript and decided to repurpose Pulsarr for another application I'm working on as a first project in the language. While doing so, I think I found a bug in the post method in popup.js.

Line 159 of popup.js reads:
`results = { "text": JSON.parse(http.responseText), "status": http.status };`

I think it should read the same as line 131:
`var results = { "text": JSON.parse(http.respon

[2017-03-23 06:36] chaosking121 commented on #10
The post method also looks to be missing the Content-Type header:
`http.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");`

And I could not for the life of my get my parameters sent using JSON.stringify. I *think* this error was due to my inexperience with javascript though. I was only able to get it working by manually writing a parameter string and sending that directly. But

[2017-03-24 21:42] seriosbrad opened #11 "Some IMDb titles not being detected"
http://www.imdb.com/title/tt4961380

http://www.imdb.com/title/tt5642692

Here's two quick movies that Pulsarr is not picking up.  The first one I was actively looking for, then I started clicking into the "People who liked this also liked..." section and came across more that weren't working.

[2017-03-29 18:38] roboticsound commented on #10
var results = { "text": JSON.parse(http.responseText), "status": http.status };

Yeah you are right and has been corrected.

Less of a mistake as I am unsure that it is really required but I will add it for good measure :)

[2017-03-29 18:38] #10 closed

[2017-04-03 21:42] 0xdevalias opened #13 "Ability to select 'Path' when adding Movies"
It would be cool if the path was selectable when adding movies

[2017-04-04 17:16] roboticsound commented on #13
I have thought about this one but I want to keep the UI as simple as possible. Do you not keep all your movies is the same root folder?

[2017-04-04 17:19] roboticsound commented on #11
I am going to close this one as is seems that the first link is now working and the second maybe is not because it is a 20 min short. The searching itself is done by radarr, not pulsarr so it may be worth raising it with them.

[2017-04-04 17:19] #11 closed

[2017-04-04 18:27] alias1 commented on #13
I do, but I guess from the UX perspective I was more concerned about the ambiguity (how will it add it, what folder, is this even up to date for the latest version) than I would have been by seeing another drop down box (that I could look past if it was correct).

If not this, maybe choosing the default in the options, or some clarifying text around it somewhere?

Get Outlook for iOS<https://aka.m

[2017-04-05 22:06] roboticsound commented on #13
OK thank you for your input, yes I can see your point. I think though for now I will add this as a config option, though if it is wanted by enough people I guess it could be added to the main popup (or perhaps could be an option that is enabled in config).

[2017-04-05 22:08] roboticsound commented on #8
I still haven't got round to testing this on Mac OSX. Can anyone confirm that this is still an issue?

[2017-04-06 04:13] alias1 commented on #13
Config option sounds good to me. Thanks :3

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: roboticsound <notifications@github.com>
Sent: Thursday, April 6, 2017 8:06:57 AM
To: roboticsound/Pulsarr
Cc: alias1; Author
Subject: Re: [roboticsound/Pulsarr] Ability to select 'Path' when adding Movies (#13)

OK thank you for your input, yes I can see your point. I think

[2017-04-13 03:00] tooviral commented on #13
It'd be great if it could be a drop down option per movie

[2017-04-14 18:46] roboticsound commented on #13
What do you mean by a dropdown? Where would the options be set?

[2017-04-14 18:48] tooviral commented on #13
I'm not sure its just I have three paths  "Movies, Kids Movies, Anime Movies"  A drop down under profile to choose which path it saves to.

[2017-04-16 14:52] spicypixel- opened #19 "Support SSL/TLS"
My Radarr is behind a reverse proxy, only connects to port 80 not 443.

Not sure how difficult it'd be to enable this.

[2017-04-18 21:44] roboticsound commented on #19
could you provide some more some more details about your setup? what have you put in the configuration? (obviously you can provide dummy info not the real settings)

[2017-04-18 22:36] roboticsound commented on #6
Hopefully implemented with 4183a031bcadbd93a1dc89f5adcfc1c03af393d0

[2017-04-18 22:36] #6 closed

[2017-04-19 22:24] eriksneff opened #20 "Incorrect Error message shown when auth fails"
I noticed recently that when clicking the + Add Movie button while on a particular IMDB page, that I was getting an error saying "Bad request, check if you already have this in your library", or something like that. When I went into Pulsarr's configuration, I noticed I didn't have basic auth enabled, which it should have been, so I checked that, entered the correct auth info, saved, then went back

[2017-04-29 10:49] roboticsound commented on #20
Hey, thanks for the comment. Yeah you are right, I didn't really do the error handling well. I will have a fix out soon. I have just not really had the time to work on this in the last couple of weeks.

[2017-05-01 16:10] eriksneff commented on #20
No worries, what you've done thus far has been fantastic!! I use it
regularly, so thanks :-)

On Sat, Apr 29, 2017, 3:49 AM roboticsound <notifications@github.com> wrote:

[2017-05-14 19:30] EffeF opened #21 "Support TMDb"
Would it be possible to support [this site](https://www.themoviedb.org/
)?

[2017-05-16 12:15] idiidi commented on #13
I keep all my movies in a different folders. So an option to select the location when adding the movie would be great.

[2017-06-01 16:17] roboticsound commented on #4
[Pulsarr for firefox](https://addons.mozilla.org/firefox/addon/ffpulsarr/) is now available :)

[2017-06-01 16:17] #4 closed

[2017-06-04 20:44] csgnyc opened #22 "Trouble connecting with server"
Can't figure out what's going wrong, but I keep getting "Unable to communicate with server" errors.  I access radarr at 192.168.1.10:8310, with username csg and password hello (I have Radarr authentication set to Basic (brower popup)).  If I go to http://192.168.1.10:8310/settings/general, I can confirm the signin settings as well as the API key.

So in Pulsarr I set the host to 192.168.1.10, the

[2017-06-05 18:31] roboticsound commented on #22
hi csgnyc,
Basic auth is for if you have authentication setup on your web server (i.e. if you connect to: http://user:password@hostname:port). You do not need to enter your Radarr user/password here. Please leave these blank and disable basic auth, your API key should be all you need to authenticate. Let me know how you get on.

[2017-06-05 19:28] csgnyc commented on #22
still getting the same error: host is 192.168.1.10, port is 8310, basic auth is unchecked, and the api key is copied and pasted from radarr, root path is empty.

[2017-06-08 20:45] roboticsound commented on #22
Could you confirm what OS you are running your Radarr server on?

[2017-06-08 20:46] csgnyc commented on #22
Synology - whatever the most recent DSM is.

[2017-06-09 16:27] roboticsound commented on #22
could you test whether the api is working by typing the below in a browser window and posting the result?

http://hostname:port/api/system/status?apikey=yourapikey

[2017-06-09 16:30] csgnyc commented on #22
Result:
{
  "version": "0.2.0.696",
  "buildTime": "2017-05-12T17:04:44Z",
  "isDebug": false,
  "isProduction": true,
  "isAdmin": false,
  "isUserInteractive": false,
  "startupPath": "/volume1/@appstore/radarr/share/Radarr",
  "appData": "/usr/local/radarr/var/.config/Radarr",
  "osVersion": "3.10.102.0",
  "isMonoRuntime": true,
  "isMono": true,
  "isLinux": true,
  "isOsx": false,
  "isWindo

[2017-06-09 17:07] roboticsound commented on #22
hmmm OK. Can you go to the options page, right click and choose inspect. Then click "save" and tell me if there are any errors in the console?

[2017-06-09 17:13] csgnyc commented on #22
Not sure what you're asking.  Is the options page chrome://extensions/ (and right click "Options" under the Pulsarr extension)?

[2017-06-09 17:31] roboticsound commented on #22
no sorry, if you go to the configuration page for pulsarr, then right click and click "inspect" the developer window will open up. Then enter your config and click save. Tell me if any error is shown in the console.

[2017-06-09 20:40] csgnyc commented on #22
We may be talking about the same thing.  I don’t see a configuration page for Pulsarr.  Rather, on the chrome://extensions page, there’s an entry for Pulsarr with links “Permissions”, “Options”, and “Details”.  If I right click “Options” and choose “Inspect”, I get a window.  At the top of the window I see a yellow triangle (i.e. caution) that appears to correspond to a message "[Deprecation] /dee

[2017-07-07 17:51] go2tom42 opened #23 "Some IMDb titles not being detected"
http://www.imdb.com/title/tt6080460
http://www.imdb.com/title/tt6687948
http://www.imdb.com/title/tt1648199

[2017-08-03 00:32] boomertsfx commented on #19
Just allow us to specify http/https as an option

[2017-08-04 12:23] monkeyslapper opened #24 "Permanent Window"
It works Fine, but i would the popup window be a permanent window. I like to multitask and when i see the movie i like to capture i have to wait for the window to load and populate the information. During this time I would like to be able to go to another window or tab to do something else while it loads. Its not a long time. But enough to say I can do something in the mean time. Any way to change

[2017-08-07 04:02] Firelfy commented on #7
Curious how this is coming along...

[2017-08-18 21:18] xac1d opened #25 "unable to add movie to collection if url base is used"
anyone get this working using a url base? when i turn it off it works but with it on i get an error saying check that it is not already in collection

[2017-08-18 21:19] xac1d commented on #25
actually nvm, it works if i append my urlbase to the port. ex: 7878/radarr

[2017-09-05 21:37] sp1ti opened #26 "Support for trakt.tv"
Having trakt.tv support would make Radarr my perfect CoachPotato replacement. Both IMDB and TMDB info links are up on the pages.

Thanks and keep up the good work 👍

[2017-09-09 16:17] gill7719 commented on #13
+1 on this feature.
Adding a dropdown right under Profile with the "Paths" that are defined in Radarr would be perfect.

[2017-09-12 22:02] fresnik opened #27 "Allow selection of path"
As a user who categorizes my movies based on content rating I would like to be able to select the destination directory path of the selected movie in a similar fashion as CouchPotato so that different movies are put into different libraries.

[2017-09-15 09:12] roboticsound commented on #7
Added with c410e7c75e476e46fe4d524d2926d708dc8abf0e

[2017-09-15 09:12] #7 closed

[2017-09-15 09:13] roboticsound commented on #8
Closing as no further issues have been reported. Will reopen later if necessary.

[2017-09-15 09:14] #8 closed

[2017-09-15 13:42] roboticsound commented on #25
Glad you found a work around. I'll add an option in the settings for this in the future.

[2017-09-15 15:48] gilbN opened #30 "Error: (200)OK"
When I try to add a movie, I get this error.

Do you know what is wrong?

My radarr settings in Pulsarr are:

Host: http://192.168.1.34
Port: 7878
API key: my api key from radarr
Root path: the root path radarr uses when I add movies in radarrr

I get the same error when trying to add to sonarr

[2017-09-15 15:56] gilbN commented on #30
Nvm. To fix this you have to add the url base on the port option :)

[2017-09-15 15:56] #30 closed

[2017-09-15 23:07] sp1ti opened #31 "Cannot add movies from IMDB on 2.0"
Since the extension updated and I've readded the radarr configuration I cannot add any movies from IMDB. The flyout is stuck at the spinner.

I see the following error in console
[code]

Running radarr via basic localhost/no auth/default.

[2017-09-15 23:19] sp1ti commented on #31
A fresh install solved the issue. The main thing that changed from what I can see is that I only have a single LocalStorage entry now (`pulsarrConfig`). Before the uninstall I had all ?keys from the json also as "main" entries in there.

[2017-09-16 01:10] zebbe152 opened #32 "Can't add movies when Min Avil is set to "In Cinemas" or "Physical/Web""
I can't add movies when Min Avil is set to "In Cinemas" or "Physical/Web". Pulsarr says "Failed to add movie! Please check it is not already in your collection."

It works if I switch to either "Announced" or "Pre DB".

I'm running the new 2.0 update.

[2017-09-16 13:30] roboticsound commented on #32
Hi, hmm I am unable to replicate. Could you try to remove and reinstall Pulsarr? I have changed a lot in the way that it works and this will clear any previous config.

[2017-09-16 14:00] roboticsound commented on #24
Unfortunately this is not something that chrome extensions supports, so at this time I am unable to add this.

[2017-09-16 14:00] #24 closed

[2017-09-16 15:12] zebbe152 commented on #32
I did that yesterday (I had to remove and then add pulsarr again in order to get it to connect with Sonarr). Did you press add movie or the magnifying glass?

It seems like the error I mentioned only occurs when I press "add movie".

I've been having this issue ever since the previous version, so it's probably not related to the 2.0 update.

[2017-09-16 15:20] roboticsound commented on #32
Could you confirm which version of Radarr you are running? Also, is this the case with all movies?

[2017-09-16 15:48] zebbe152 commented on #32
Radarr version 0.2.0.852

I got this from the Radarr log:

17-9-16 17:42:41.1|Warn|NzbDroneErrorPipeline|Invalid request Validation failed:
 -- Invalid Path
 -- Invalid Path

I was able to add a movie by pressing the magnifying glass a couple of times, but that doesn't work now either.

It doesn't matter which movie I choose on IMDB.

Very strange...

[2017-09-16 16:20] roboticsound commented on #32
Did you enter a path in the Pulsarr config or have you left it blank?

[2017-09-16 16:59] zebbe152 commented on #32
The root path is blank in Pulsarr.

[2017-09-16 17:01] roboticsound commented on #31
Yeah, there was an error in the code to migrate to the new version. I have released a hotfix for this but in the meantime if anyone is experiencing similar issues, please just reinstall Pulsarr it will resolve this.

[2017-09-16 17:35] roboticsound commented on #32
OK well at least it is working for you just now. This will be getting addressed soon though as I believe this will be solved by #27.

[2017-09-16 17:35] #32 closed

[2017-09-16 18:17] roboticsound commented on #27
I will also close this issue as it is a duplicate of #13. Please continue the discussion over there.

[2017-09-16 18:17] #27 closed

[2017-09-16 18:26] roboticsound commented on #23
This unfortunately is something that, due to way Pulsarr works, I am not able to address right now. I believe that it maybe to do with the imdb api on some lesser known titles. I may look at ways of addressing this in the future but this will require changing the way Pulsarr searches for movies and I do not want to introduce false matches.

[2017-09-16 18:30] roboticsound commented on #19
Have you tried to enter **https://** in the hostname?

[2017-09-17 19:06] seriosbrad commented on #25
@xac1d Thanks for posting your fix.  This was driving me crazy.

[2017-09-17 23:06] zebbe152 opened #33 "Feature request: Sonarr - Option to use season folders"
When adding a new show to Sonarr the option to use season folders is disabled by default. It would be great if you can add an option for this in Pulsarr.

Screenshot of the option I'm talking about: [https://imgur.com/fVMhs8d](url)

[2017-09-19 18:24] roboticsound commented on #13
Should be addressed by #28

[2017-09-20 18:33] opsline-chetan commented on #19
@roboticsound I did that and it works fine

[2017-09-23 19:00] thatdude123 opened #34 "Extension doesn't seem to work in Vivaldi"
I can install and configure the extension, but the button doesn't appear next to the address bar. I tried disabling and re-enabling, which didn't work. I also try debugging the code a bit, and other than an exception being thrown in background.js (the "if" statement should probably check for length before trying to access the [0] element in that array), I don't see anything off.

Let me know if yo

[2017-09-24 02:43] desimaniac commented on #3
Thanks @bjornorri and @roboticsound.

Would like to add for that for reverse proxy (i.e. nginx) with subdomains, to leave the port empty as well:
host: https://radarr.domain.com
port: empty
basic authentication: username/password
api key: xxx

[2017-09-29 18:00] #31 closed

[2017-09-30 00:08] folofjc opened #35 "Feature Request: Ability to add tags"
In Radarr, you can make a restriction in the "Indexer" section. For these restrictions, you can make a tag that you can add to movies to apply this restriction. Would be great to have an option to add a tag in the extension.

[2017-11-23 03:46] Iristyle opened #36 "Feature request - support for RottenTomatoes"
RT support would be awesome. Thanks!

[2017-12-04 22:15] Sextant opened #37 "What am I doing wrong ;-"
Hi,

VERY happy you took it upon yourself to write this...thank you.  I am running it on a mac running 10.13.1 and my Chrome version is 62.0.3202.94 (Official Build) (64-bit)

I get Success Configuration Saved when I fill in the options, but when I try to add a series to Sonarr off IMDB I get:  Error: (200)OK

Any help will be greatly appreciated.

Cheers

[2017-12-07 19:55] Sextant commented on #37
turned out to be a reverse proxy issue on my end, sorry for any issues my post may have caused.

[2017-12-07 19:55] #37 closed

[2017-12-10 23:42] frm1001xplrr opened #38 "Not working in FF v58.0b10"
No toolbar icon shows up after installing Pulsarr v1.3.1 in FF v58.0b10(64b) macOS, and no icon is available in the icon set when Customizing.

[2017-12-15 21:50] RandallSG opened #39 "Pop-up for Pulsarr Options is empty"
Running this in Chrome on MacPro, High Sierra.

Just installed this extension in Chrome, but the option screen is empty (blank, all white).  Nothing to configure.  The same is true for another extension (Radarr/Sonarr for Plex), so this is not specific to this extension.

Turned off Pop-up blocker in preferences, no change.  Restarted Chrome, no change.  Restarted the PC, no change.

Any suggestio

[2018-01-04 07:32] ninep9up commented on #39
there's sort of an error in manifest.json
should be "browser_action" instead of "page_action"
replacing fixed it

[2018-01-04 07:42] ninep9up commented on #38
There should be one in the address bar, I was pretty stunned too, looking at the screenshots first and not finding any. Elseway, you can rewrite a manifest to have it in a toolbar if you want to.

[2018-01-12 06:50] dedors opened #40 "Update Firefox Addon"
Firefox still running 1.3.1, and with that no support for sonarr yet. There is no other firefox addon for sonarr, so updating the addon to 2.0 would be much appreciated.

[2018-01-18 15:14] R91g opened #41 "Feature request - support for Filmaffinity"
Hi,
First thank to roboticsound for her great job and all others contributors.

I want support for https://www.filmaffinity.com
Filmaffinity is more famous website with the mayor TV and movie database in Spanish.

Thanks.

[2018-02-21 22:22] roboticsound commented on #40
Hi,
Yeah sorry I have been busy with other projects but I have made some updates and I have now pushed to both chrome and firefox. I will close this but please open a new issue if any are discovered with the new version.

[2018-02-21 22:22] #40 closed

[2018-02-21 22:23] roboticsound commented on #21
This has been implemented in the latest version.

[2018-02-21 22:25] roboticsound commented on #23
Closing for now as there are no immediate plans to address this. If this continues to be a problem, please open another issue.

[2018-02-21 22:25] #23 closed

[2018-02-21 22:26] #13 closed

[2018-02-21 22:26] roboticsound commented on #26
This has been added in the latest version.

[2018-02-21 22:26] #26 closed

[2018-02-23 12:42] ChapeLu opened #42 "Failed to load resource: the server responded with a status of 404 (Not Found)"
Hi,

I run Pulsarr on chrome and started getting this error lately:

Black Hole (404)
Oh no! Pulsarr has colapsed into a black hole. Please check your configuration and that you are on a valid IMDB or TVDB page.

Configuration hasn't changed and upon popup inspection I get:

Failed to load resource: the server responded with a status of 404 (Not Found) http://192.168.0.66:7878/api/movie/lookup?ter

[2018-02-24 15:11] roboticsound commented on #42
Could you confirm which version of radarr that you are running?

[2018-02-26 18:50] roboticsound commented on #41
Hi R91g, unfortunately due to the way Pulsarr works, this is not something I am able to support at this time. If at any stage filmaffinity begin to provide links to IMDB ot TMDB, I may be able to revisit this.

[2018-02-26 18:50] #41 closed

[2018-02-26 19:17] roboticsound commented on #36
I would love to implement this but as yet do not really have any ideas how to. I'm open to suggestions.

[2018-02-26 19:19] R91g commented on #41
Hi roboticsound,
Ok, thank you for your answer.

[2018-03-06 19:02] piwel commented on #36
In the same request, I'd like to ask for allocine.fr

Maybe is it possible to be inspired by what was done on the Couchpotato plugin :
- [for Allocine](https://github.com/CouchPotato/CouchPotatoServer/blob/master/couchpotato/core/media/movie/providers/userscript/allocine.py)
- [for RottenTomatoes](https://github.com/CouchPotato/CouchPotatoServer/blob/master/couchpotato/core/media/movie/providers/u

[2018-03-12 19:43] tmortagne opened #43 ""Error: (200)OK" when trying to add a movie"
When I click the icon everything looks OK (the popup contains the right path in "Folder" so it can definitely access the Radarr instance data properly) but when I choose the profile and click "Add" I end up with "Error: (200)OK" (which is a pretty weird error from HTTP point of view :)).

Environment:
* Radarr 0.2.0.995 with form based authentication
* Firefox 58.0.2
* Ubuntu 17.10 64b

[2018-03-13 18:38] roboticsound commented on #43
Yes you are right, that is a strange error! Does it happen on all websites, movies/series etc? So far I am unable to reproduce the error.

[2018-03-13 19:04] roboticsound commented on #36
Yeah I had been thinking that this may be the way to go, I'm just worried about get false positives when searching by title & year rather than by ID.

[2018-03-14 08:16] tmortagne commented on #43
I only tried on http://www.imdb.com/title/tt1365519/.

[2018-03-15 16:17] andrewrmoore commented on #43
Seeing this too. With movies and TV shows, any of them.

@tmortagne are you using a reverse proxy or is it direct?

[2018-03-15 16:41] roboticsound commented on #43
@andrewrmoore what is your setup?

[2018-03-15 16:47] andrewrmoore commented on #43
Radarr 0.2.0.995
Sonarr 2.0.0.5153
Pulsarr 2.1 running on Chrome 64.0.3282.186

Radarr and Sonarr are accessed via Caddy reverse proxy. All running on CentOS 7.4

Pulsarr does connect, as in it picks up the Profiles and Folders but fails with

when adding a movie/TV show.

[2018-03-15 17:25] tmortagne commented on #43
Apache httpd reverse proxy indeed. You think it could be related ?

[2018-03-15 17:27] tmortagne commented on #43
Here is my conf it it can help:

[code]

[2018-03-18 15:30] evulhotdog commented on #43
So I was actually having the same issue trying to access my Radrarr installation.

I was able to add it as this screenshot, but got the same Error(200) as others were getting.
![image](https://user-images.githubusercontent.com/365456/37567516-9767dff0-2a9e-11e8-9df5-6180e39523ba.png)

That being said, my actual Radarr installation is at path is: http://nas-7010:7878/radarr/

However, when I try to

[2018-03-25 01:34] jhelmink commented on #20
Just to note, we get the same error message when Radarr/Sonarr hasn't been configured correctly and it can't access the movies/tv folder. I can see this will be quite a common problem for users running these in Docker - you must map the folders correctly, as well as pass in the correct PUID/PGID as environment variables for the container to access the folders. Once I got this sorted it works great

[2018-03-25 12:25] roboticsound commented on #43
Hi @evulhotdog ,

Thanks for the great post (sorry I've been unwell and couldn't reply sooner). Yes this has been mentioned before and is something I will improve in the UI in the future. @tmortagne and @andrewrmoore were you able to get things working using the above setup?

[2018-03-26 12:16] tmortagne commented on #43
I actually made a mistake in my configuration but I did not noticed it because it seemed to be working: my radarr is behind `https` but I entered `http`. The reason is was half working is because there is an automatic redirect from `http` to `https`.

So the reason the reported error was so weird is most probably because of the redirect.

Sorry for the noise...

[2018-04-04 14:03] channeledbymodem opened #44 "Not working in Firefox 60b"
Extension installs and options page exists within extensions tab but no icon can be found for menu bar.

[2018-05-17 08:42] camjac251 commented on #6
Would form authentication also be possible?

[2018-05-18 14:06] methanoid opened #46 "Feature Request:"
Just a simple "Open Radarr" button and "Open Sonarr" a bit like Sonarr Connect extension has...

[2018-06-19 14:49] eddiestrike opened #47 "Doesn't work since new TVDB update"
Ever since TVDB updated to their new site design, Pulsarr has stopped working

[2018-06-28 16:07] IhToN opened #48 "Include Use Season Folder option"
Currently I'm using this option by default on my Sonarr server although Pulsarr seems to set that option on "false" by default. A good thing would be the option to change it on Pulsarr too.

![imagen](https://user-images.githubusercontent.com/16889094/42046306-ea4d7644-7afd-11e8-8477-489431dabfa8.png)

[2018-07-15 14:23] necromancyr opened #49 "No Toolbar Icon in Firefox 61.0.1"
Per title - no icon appearing in the toolbar or in additional icons to add to toolbar in firefox 61.0.1.

[2018-07-19 22:16] frm1001xplrr commented on #49
Same issue here. In fact, I've tried installing Pulsarr 4 times over the last 6 months, and never gotten the icon in the toolbar or additional icons :(

[2018-08-09 08:51] intelligence commented on #36
Is this live? Can't get it to work on RT.

[2018-08-17 14:07] mariotacke commented on #36
Same here. RT went through a redesign to React, maybe it broke the layout when parsing?

[2018-09-24 01:17] zanetaylor commented on #36
This seems to be working in the current repo version, but not in the version that's currently published to the Firefox and Chrome extension libraries, which hasn't been updated since February 21.

[2018-09-24 01:19] zanetaylor opened #52 "Feature Request: support for Letterboxd"

[2018-10-14 22:22] Herjar opened #54 "Feature Request: Support for PTP"
I mostly find films by browsing PassThePopcorn. Would be great if I could add them directly to Radarr.

[2018-10-17 12:19] neronmoon opened #55 "Feature Request: Kinopoisk"
I mostly find films and TV by browsing [Kinopoisk](https://www.kinopoisk.ru/). Would be great if I could add them directly to Radarr/Sonarr.

[2018-10-20 16:01] SwordOfWar opened #56 "Feature Request:"
Support mobile version of imdb. The add on works on Firefox mobile but only when using the desktop version of the site.

[2018-10-20 16:03] SwordOfWar opened #57 "Feature Request: default quality profile"
Allow to set and remember last quality profile for movies and TV shows like 1080p/720p etc.

[2018-10-20 16:04] #56 closed, assigned to nobody

[2018-10-20 16:05] SwordOfWar opened #58 "Feature Request: mobile website support"
Support detection on mobile website version of imdb. The desktop version works on mobile Firefox, but would be nice if it could detect the mobile version of imdb website also.

[2018-10-21 03:05] skeggman69 opened #59 "Not adding movies to Radar since Chrome update 70"
Was working fine a couple of days ago.  My Chrome updated and now when ever I try and add a movie I get "Failed fetch media info! Please check you are on a valid IMDB/TVDB movie or series page (not episode page).,:.  Still working with adding TV shows to Sonarr.

Tried uninstall and reinstall and also changed API key in Radarr/Pulsarr.

Chrome Version 70.0.3538.67 (Official Build) (64-bit)

[2018-10-24 01:22] qHavoc commented on #54
I second that.  Great idea.
Pulsarr is fantastic, thanks for putting it together!

[2018-11-26 22:05] krazyjakee opened #60 "In-site buttons"
Great work on this extension. Love it.

It would be nice to see in-site buttons added to imdb and tvdb. IMDB has an add to watchlist button, perhaps next to that could be "Add to radarr"? I need to use a lot of extensions these days and not having to hunt another icon down would be very helpful.

[2018-12-03 05:20] pikachukaki opened #61 "404. That’s an error."
https://chrome.google.com/webstore/detail/pulsarr/dcildkalkckjjdfpgagmnbbfooogopkd

Not working?

[2018-12-14 00:23] barnabasbusa opened #62 "Password for basic authentication shows"
When a user wants to assign a new radarr/sonarr profile to the pulsarr and got basic authentication enabled, the username and password is required. When I fill those out, both are visible. Username obviously should stay visible, but the password should not show with normal characters. It should be covered with a dot of some sort.

[2018-12-17 22:33] dannywsu commented on #61
I'm seeing the same issue.  I even tried to search the Chrome Store and Pulsarr is not available.

[2018-12-18 02:55] Cr4sHBR commented on #61
Just clone and do this in chrome:

- Open the Extension Management page by navigating to chrome://extensions.
- The Extension Management page can also be opened by clicking on the Chrome menu, hovering over More Tools then selecting Extensions.
- Enable Developer Mode by clicking the toggle switch next to Developer mode.
- Click the LOAD UNPACKED button and select the extension directory.

[2018-12-18 18:07] pikachukaki commented on #61
Will try it thanks!

[2018-12-31 22:59] Broncky opened #63 "can not get pulsarr working withg my settings"
hello

i just found pulsarr but when i fill in my settings from sonarr/radarr it keeps loading or give me an error like this. radarr/sonarr is working on server.

http://prntscr.com/m1qqlg

[2019-01-08 17:11] giejay commented on #63
Are you sure you specified the URL + Port correctly?

[2019-01-13 00:56] slydog3333 opened #64 "Pulsarr just spins when you click on it."
by right clicking and inspecting, this error comes up:
Uncaught (in promise) TypeError: Cannot read property 'overview' of undefined
    at Pulsarr.init (popup.js:79)
    at popup.js:746

Doesn't work in Chromium Version 69.0.3445.0
or the current version of Chrome

Looks like the firefox extension doesn't work either. Is this dead?

[2019-01-30 19:35] MangoTwo2 opened #65 "Stopped working"
The extension stopped working about a week ago.
Upon pressing the button all it says is "[object object]"

[2019-03-06 08:38] piejanssens opened #66 "Please update Firefox Addon"
Gentle reminder as you brought up yourself in https://github.com/roboticsound/Pulsarr/issues/40
Chrome seems to need some love too.

[2019-03-06 14:43] sdewolf-be opened #68 "Any chance to add www.senscritique.com to working sites ?"
Hey guys ! The extension is awsome, and i saw you are looking to add allocine.fr support.
Any chance to add https://www.senscritique.com/ support as well? It's a great movie rating community pretty famous in Europe.

Thanks for considering :-)

Have a great day!

[2019-03-06 19:04] piejanssens commented on #49
It shows up on a particular movie page. Setup the addon through [about:addons](url)

[2019-03-06 19:06] piejanssens commented on #36
You can close this issue.

[2019-03-06 19:07] piejanssens commented on #21
You can close this.

[2019-03-07 08:00] piejanssens commented on #65
Can you try reinstalling?
Which browser? If Chrome, download zip and install in Chrome with developer mode for extensions active.

[2019-03-07 08:01] piejanssens commented on #64
It works fine here.
Which version of Pulsarr? Try installing the latest one by installing the zip from git instead.

[2019-03-07 08:02] piejanssens commented on #62
Use the API key instead...

[2019-03-07 08:26] MangoTwo2 commented on #65
I installed the extension from repo clone in dev mode. Now when I press the button on imdb I get the movie and availability information. But when I press "Add Movie" the wheel spins for a second and then nothing else happens and the movie isn't added.

[2019-03-07 09:23] piejanssens commented on #65
Can you post your settings? (obfuscate sensitive values)

[2019-03-09 18:20] slydog3333 commented on #64
Yeah my wife said it started working again a few weeks ago. Not sure if it updated or what.

[2019-03-09 18:20] #64 closed, assigned to nobody

[2019-03-12 20:23] Jonathanpbk opened #69 "Extension missing on chrome web store"
I reformatted my machine and upon reinstalling chrome, I noticed that Pulsarr wasn't installed. I tried to get it again but it appears to have been pulled from the chrome web store.

Can you assist please? I'm lost without it!

[2019-03-12 20:26] Jonathanpbk commented on #69
As a workaround, I managed to install it manually.

[2019-03-12 21:00] yoasif commented on #69
FWIW, it is still available for Firefox on their add-ons marketplace: https://addons.mozilla.org/en-US/firefox/addon/ffpulsarr/

[2019-03-17 15:40] Jonathanpbk commented on #69
While the workaround "works", I'd definitely prefer not to have to click this every time i open the browser:

![chrome_16-03-19_002](https://user-images.githubusercontent.com/10273869/54493710-fd31be00-48ca-11e9-9824-6da0c378b735.png)

[2019-03-18 21:11] tixetsal opened #70 "url"

[2019-03-18 21:12] tixetsal commented on #25
I was/am also impacted by this.

[2019-03-18 21:13] tixetsal commented on #70
mistake

[2019-03-18 21:13] #70 closed, assigned to nobody

[2019-03-21 08:06] icf20 opened #71 "¿is the dev ok?"
does anyone know him in RL? is he safe and ok? did anything happen to him?

[2019-03-25 18:45] 1aTa commented on #69
I noticed the same thing, such a shame as installing manually isn't an ideal solution as you've discovered.

I've also messages the dev on reddit so fingers crossed we can get in touch with him.

[2019-03-25 23:27] ghost commented on #69
What you can do is pay to become a google developer (5$ one time fee, I think) and upload the extension as a private extension.

I've done this myself, and it works...If the dev is ok with me sharing a link to extension I uploaded temporarily I can share it here.

[2019-03-26 13:51] 1aTa commented on #69
Please could you share it?

[2019-03-26 17:56] ghost commented on #69
I have to add you as a tester because google hates this extension...so post your email you are logged into chrome with, and then you can use this link to use the extension: [https://chrome.google.com/webstore/detail/pulsarr/hknbdkgckeepfdeabidcgjcofocbhlgn](https://chrome.google.com/webstore/detail/pulsarr/hknbdkgckeepfdeabidcgjcofocbhlgn)

[2019-03-26 17:58] Jonathanpbk commented on #69
Please add me as a tester! My email is jonathanpbk@gmail.com.

[2019-03-26 17:59] ghost commented on #69
Added you now

[2019-03-26 18:00] Jonathanpbk commented on #69
thanks, but i'm getting 404 not found on that link

[2019-03-26 18:00] 1aTa commented on #69
Thanks!

[2019-03-26 18:01] ghost commented on #69
Might be that it just takes a while to refresh the server...

[2019-03-26 18:03] Jonathanpbk commented on #69
No problem, I'll try again later!

[2019-03-26 18:04] ghost commented on #69
@1aTa added your emails as tester as well...but might take a while to refresh permissions

I created a test account to check if the permissions had been updated...and it seems to be update now

[2019-03-26 18:05] 1aTa commented on #69
Cheers! I assume your upload is identical to v2.1?

[2019-03-26 18:10] 1aTa commented on #69
By the way the dev replied to me on reddit and said the Goog took it down when they changed certain rules. He's not sure why and he's been too busy recently to investigate.

[2019-03-26 18:14] ghost commented on #69
Yeah...think it has to do with the `"permissions": ["activeTab"]`...i get a warning telling me that the extension requires manaul review if I try to post it to the websore

[2019-03-28 23:14] Antwerp87 commented on #69
Please add me too :) antonohhello@gmail.com

[2019-03-28 23:20] Jonathanpbk commented on #69
@mnervik I forgot to update... I managed to get access to it and it works flawlessly! You're amazing, thank you!

[2019-03-28 23:39] Antwerp87 commented on #69
I have set it up on opera ok. On opera under dev mode it doesnt prompt anything. In fact I am finding opera so much better to use than chrome now that all chrome extensions can be used on it. Give it a try, Doesnt seem as much of a ram hog either

[2019-04-07 09:37] romanoh commented on #49
Iam sorry but its not working, i have tried everything can you show a movie page example? @piejanssens

[2019-04-08 18:33] 1aTa commented on #69
Just wanted to say thanks to mnervik, works great.

[2019-04-25 05:55] Lotus49b opened #72 "Losing config info in Firefox addon"
Hi, thanks for a very useful addon!
I find that I'm losing the setup info (IP address, port, API) for Sonarr and Radarr in the add-on configuration  table, using FF66.0.3 (64bit).
This appears to be related to running a cleanup with CCleaner.
Could this be due to cookies that are being removed, and if so, how would I identify them for preservation?

[2019-05-12 07:39] Virtike commented on #43
@evulhotdog Thank you. I was getting the "Error: (200)OK" & couldn't add movies, changed the config to include the port in the path as above with the actual port field blank, and it now works probably - can add movies, check if already monitored etc.

[2019-05-23 16:13] zslb opened #74 "Cannot add movies from Rotten Tomatoes in 2.1"
The element id ```movie-title``` is no longer part of the DOM on Rotten Tomatoes movie pages. Should use selector ```.mop-ratings-wrap h1```

[2019-05-23 16:18] zslb commented on #74
New to github issue / PR process. Created this issue to associated with PR, but see that PR is #75

Feel free to close issue when #75 is merged. Thanks!

[2019-05-23 16:19] #74 closed, assigned to nobody

[2019-06-05 20:18] hamflix commented on #69
Can you please add me also? -- support@hamflix.com

[2019-06-06 21:19] ghost commented on #69
@hamflix done

[2019-06-07 12:53] andytuinman3 commented on #69
can you please add me aswell? andytuinman3@gmail.com

[2019-06-07 22:47] ghost commented on #69
@andytuinman3 done

[2019-06-13 11:29] hillbicks commented on #72
Hey Lotus49b.

I'm facing the same problem with the pulsarr addon and I'm not sure why this gets deleted and when. The config for pulsarr is apparently stored in a sqlite file

$FIREFOX_HOME/Data/profile/webappsstore.sqlite

The config is stored on the field value

SELECT * FROM webappsstore2
where 1 = 1
and key = 'pulsarrConfig';

I'm trying to keep an eye on it so we can figure out when exactly

[2019-06-15 08:28] AlexKnoch commented on #69
@mnervik Can you also add me? alexknoch95@gmail.com Much Appreciated!

[2019-06-15 10:15] Lotus49b commented on #72
Thanks very much!

[2019-06-16 01:30] Antwerp87 commented on #69
Who would like me to just add the extension unpacked so they can copy it into their extensions folder and do it that way? Rather than putting up constant requests? I can add a notepad doc with instructions for the noobs.
Thoughts @mnervik

[2019-06-16 01:31] Antwerp87 commented on #69
PS. Opera have just come out with a gaming browser called opera gx. You can set hard and soft limits for cpu and ram usage in it. Quite cool really.

[2019-06-16 11:30] asusguy94 commented on #69
@Antwerp87 Doesn't chrome complain if you do that?

Otherwise I agree that it would be a far better solution than what I'm doing.

[2019-06-16 11:33] Antwerp87 commented on #69
@ausguy94 How can they complain if you have it in developer mode. There is nothing they can do about it. It’s technically your own trial if you do that

[2019-06-16 11:37] ghost commented on #69
Don't you get a popup every time you restart the browser...like you get when using developer mode?

[2019-06-16 11:40] Antwerp87 commented on #69
@Mnervik  I have copied mine to 4 different computers and have copied it from chrome to opera etc too and no pop ups at all

[2019-06-16 12:24] ghost commented on #69
I guess that's good enogh for me 😄
Just post the unpacked version, and the doc on how to set i up

[2019-06-20 19:13] bishely commented on #71
Don't know them at all, but they're still active as of 10 hours ago on Reddit (https://www.reddit.com/user/roboticsound/), so I guess they're fine, they've just probably abandoned development of Pulsarr.

[2019-07-11 13:57] romanoh opened #76 "Synology"
From synology it does not work.
it was working when radarr was on my computer.

[2019-07-11 13:58] romanoh commented on #54
yes please

[2019-07-12 17:47] ghost commented on #76
Just tested it myself, it works with my synology nas

[2019-07-12 18:27] romanoh commented on #76
Maybe some permission issues?

[2019-07-12 19:27] ghost commented on #76
Perhaps

Does any part of the extension work with your nas?

also...screenshots of the error/issue would be helpfull

[2019-07-12 20:01] romanoh commented on #76
As i put the new key and try to save, it gives me this error: [https://i.imgur.com/KG2ZtSH.png](https://i.imgur.com/KG2ZtSH.png)
and the key reverts to the old one.
my ip is the radarr ip as it apears in firefox, as the port.

and the box from firefox gives this error: [https://i.imgur.com/ZkxDw7B.png](https://i.imgur.com/ZkxDw7B.png)

More info: [https://i.imgur.com/Vf76Sdy.png](https://i.imgur.c

[2019-08-01 21:58] keteflips commented on #44
68.0.1 (64-bit) same error

[2019-08-04 01:34] williamray507 commented on #69
Can you please add me also? mobile@billsrepair.us

[2019-08-05 15:41] jonalejm commented on #69
Can you please also add me? jonalejm@gmail.com
Thanks

[2019-08-10 02:44] smhmd commented on #69
Can you add this email too? alivefromupstairs@gmail.com
Thank you.

[2019-08-13 12:51] punkska101 commented on #69
Can you add me too please ? underoath777@gmail.com
Thanks :)

[2019-08-14 11:57] ghost commented on #69
@AlexKnoch @williamray507 @jonalejm @alivefromupstairs @punkska101 Added you now

[2019-08-17 22:05] gtosnipey commented on #69
Please add me gtosnipey@gmail.com

[2019-08-22 13:45] f4ble opened #77 "IMDB - Unable to add movie: media.movie.text[0] is undefined"
Encountered an abnormal problem with adding

https://www.imdb.com/title/tt1302006/  (The Irishman, 2019)

It seems (educated guess) this specific page has different formatting causing Pulsarr to fail to detect movie name. I tested with other movies on IMDB and it works fine.

Firefox 68.0.2 (64-bit), Pulsarr version 2.1

[2019-08-25 10:25] ghost commented on #69
@gtosnipey done

[2019-09-06 04:09] otakon84 commented on #69
please add me sdgesell@gmail.com
thanks

[2019-09-06 08:21] ardoviniandrea commented on #69
can you add me?
ardo.andrea@gmail.com

Thanks

[2019-09-06 16:57] ghost commented on #69
@otakon84 @ardoviniandrea done

[2019-09-12 01:33] majingrim commented on #69
Could you add me too?

edit: Thanks!

[2019-09-12 10:20] ghost commented on #69
@majingrim done

[2019-09-15 22:59] dannyh commented on #69
Could you add me as well?

dannyh@gmail.com

Thanks!

[2019-09-15 23:33] ghost commented on #69
@dannyh done

[2019-09-16 00:09] dannyh commented on #69
I get a 404 for https://chrome.google.com/webstore/detail/pulsarr/hknbdkgckeepfdeabidcgjcofocbhlgn

Am I doing something wrong?

[2019-09-16 00:23] ghost commented on #69
@dannyh It takes a while for google's servers to refresh. But there are a few things you can try in the meantime.

- Make sure you are logged into google with the same email described in your comment, **before you visit the link**
- Clear the browser cache (**make sure you re-do the step above after you do this**)
- I nothing else works, wait a while and check the link again after a while

[2019-09-19 00:04] kvndl commented on #69
Could I become a tester? Would love to have Pulsarr back in Chrome

noah.schepers@gmail.com, thanks!

[2019-09-19 10:19] ghost commented on #69
@sch3p done

[2019-09-25 19:35] noiz13 commented on #69
can you please ad me as a tester ferrynoiz@gmail.com

[2019-09-26 01:52] ghost commented on #69
@noiz13 done

[2019-09-26 14:29] scj-green commented on #69
@mnervik can you please add me

scjgreen at gmail dot com

Thanks

[2019-09-26 23:44] ghost commented on #69
@scj-green done

[2019-09-29 22:42] WatPow commented on #69
@mnervik can you add me too please ?
codhank (at) gmail (.) com

Thank you :)

[2019-09-30 14:06] thedelo187 commented on #69
please add as a tester
REDACTED

[2019-10-01 12:00] ghost commented on #69
@Dakulin @thedelo187 done

[2019-10-12 17:58] ashtongraves commented on #69
@mnervik can I get added as well? agravesx@gmail.com

[2019-10-13 16:28] ghost commented on #69
@ashtongraves done

[2019-10-17 09:08] laurens362 commented on #69
could you add me aswell?

[2019-10-20 17:56] ghost commented on #69
@laurens362 done

[2019-10-22 10:47] laurens362 commented on #69
Thanks!

[2019-10-25 23:48] Elittleconda commented on #69
can you please add littleconda@gmail.com

[2019-10-26 00:25] ghost commented on #69
@Elittleconda done

[2019-10-27 11:36] Elittleconda commented on #69
Thanks!

[2019-11-01 09:37] zpengcom commented on #69
z.peng.com@gmail.com
thx!

[2019-11-02 23:54] MauricioBP commented on #69
can you please add maurybp@gmail.com

[2019-11-03 19:14] ghost commented on #69
@zpengcom @MauricioBP done

[2019-11-04 01:24] ghost commented on #69
Please add aurailious@gmail.com

[2019-11-04 10:49] jgsaez9 commented on #69
Please add m.joselillo93@gmail.com

[2019-11-04 17:44] ghost commented on #69
@AlexanderLebens @joska1993 done

[2019-11-06 08:46] advokatb commented on #55
Also need this feature. Can it be implemented?
Thanks.

[2019-11-16 15:20] phampyk commented on #69
Can I be added too? phampyk@gmail.com Thank you!

[2019-11-17 09:35] ghost commented on #69
@phampyk done

[2019-11-20 17:43] ghost commented on #69
@mnervik can i be added? zakharhusak@gmail.com

[2019-11-21 13:39] ghost commented on #69
@ZakharyH done

[2019-11-26 18:23] zebbe152 commented on #69
@mnervik Can you please add me too?

[2019-11-26 20:53] soussi59 commented on #69
Can I be added too? soussi59@hotmail.fr Thank you!

[2019-11-27 15:56] ghost commented on #69
@zebbe152 done
@soussi59 are you sure that is a google account, I get a warning saying "email address is not a valid Google-account"

[2019-11-27 19:00] soussi59 commented on #69
@mnervik sorry I didn't know that I have used a gmail adress. My google account is soussi59000@gmail.com
Thank you !

[2019-12-10 19:29] JohanJarlefalk commented on #69
can you add me to lakungfury@gmail.com thanks in advance.

[2019-12-10 20:36] ghost commented on #69
@soussi59 @kungfury00 done

[2019-12-13 00:47] lazarevski commented on #69
Can you please add me as well?

[2019-12-14 10:40] ghost commented on #69
@lazarevski done

[2019-12-14 15:54] CptSamir commented on #69
please add me, samirp1990@gmail.com

[2019-12-14 22:48] ghost commented on #69
@CptSamir done

[2019-12-17 00:43] watfasimon commented on #69
Please can you add me, watfasimon@gmail.com  and thanks by the way. So awesome to have this

[2019-12-19 01:37] shadycady commented on #69
Would you please add me travis.cady@gmail.com
Been missing this for a while now, Thank you!

[2019-12-19 12:51] ghost commented on #69
@watfasimon @shadycady done

[2019-12-21 06:45] stephbairey commented on #69
Me too please! stephbairey@gmail.com

[2019-12-21 09:15] rehannali commented on #69
Could you please add me, 786cbi@gmail.com

[2019-12-21 14:20] ghost commented on #69
@stephbairey @rehannali done

[2019-12-21 23:44] brannon-breau commented on #69
Can you please add me as well. brannon.breau@gmail.com

[2019-12-22 09:38] ghost commented on #69
@hgletifer done

[2019-12-23 14:38] GijsZwegers commented on #69
Can u add gijszwegers@gmail.com as well <3

[2019-12-25 19:50] ghost commented on #69
@GijsZwegers done

[2020-01-01 15:30] Soulless-1 commented on #69
please add matt.e.fleener@gmail.com

[2020-01-03 02:52] hammadxp commented on #69
@mnervik please add hammadjaved9860@gmail.com

[2020-01-03 13:10] ghost commented on #69
@soulless320 @Hammad9860 done

[2020-01-07 00:29] Cosmo-ux commented on #69
@mnervik could you add me mavric6969@hotmail.com

[2020-01-07 18:42] ghost commented on #69
@Cosmo-ux are you sure that account is an account associated with google?... "chrome developer dashboard" only accepts accounts associated with google.

[2020-01-07 18:48] Cosmo-ux commented on #69
Appologies, this is the email. gmaninc08@gmail.com

[2020-01-07 18:52] ghost commented on #69
@Cosmo-ux done

[2020-01-11 23:45] Matte62 commented on #69
Please add me to the list: ....

[2020-01-12 12:55] ghost commented on #69
@Matte62 done

[2020-01-21 07:29] lkdsjf commented on #69
Could you add my two please?  ... Thank you

[2020-01-21 14:05] ghost commented on #69
@lkdsjf done

[2020-01-22 22:24] Lethtel commented on #69
Hi, @mnervik can you add me too plz ? lethtel@gmail.com :) thanks !

[2020-01-23 02:58] ghost commented on #69
@Lethtel done

[2020-01-26 22:59] rleveland commented on #69
Hi, @mnervik can you add me too plz ? rleveland@gmail.com :) thanks!

[2020-01-26 23:11] rleveland commented on #69
please do   rleveland@gmail.com  (noob who use to use pulsarr)

[2020-01-28 13:52] ghost commented on #69
@rleveland done

[2020-02-29 21:38] cixxx commented on #69
please add catalinbujoreanu@gmail.com and elainebujoreanu@gmail.com

Thanks!!

[2020-03-01 00:17] apcrcom opened #78 "Firefox 73.0.1 (x64) No Taskbar Icon"
Cant seem to get taskbar icon to appear when on IMDB sites.

Taskbar is not full, app is active, credentials are correct, no error message.

I went to try and install it on chrome and got as far as the 404 error link from the github page (which tells people the xtn is available but its link is to a dead page) and then read the discussion about needing special access to use it
https://github.com/ro

[2020-03-01 04:39] Chiggy-Playz opened #79 "Chrome link is dead"
Chrome link doesnt open up the chrome store. Instead it gives 404.

[2020-03-01 04:49] sirbow2 commented on #69
please add sirbow2@gmail.com

Thanks! :)

[2020-03-01 06:32] Callumro commented on #69
Can you add callum.ro@gmail.com please and thank you!

[2020-03-01 17:02] xBDx commented on #69
Please add bdunning78@gmail.com

[2020-03-03 19:31] ghost commented on #69
@cixxx @sirbow2 @Callumro @xBDx done

[2020-03-04 05:03] amelia808 commented on #69
pls add danhyal@gmail.com

[2020-03-06 10:03] Deliganli commented on #69
could you please add saitkocatas@gmail.com

[2020-03-06 19:22] ghost commented on #69
@Danhyal-Masood @Deliganli done

[2020-03-11 10:31] psharma04 commented on #79
Hopefully a .crx upload is possible soon, so that if the Chrome Web Store does this again it won't matter as much.

[2020-03-11 20:17] kierancarrigg commented on #69
could you please add kieran.carrigg@gmail.com ?

[2020-03-12 20:19] ghost commented on #69
@Kieranosaurus done

[2020-03-13 16:10] ffhngdsfbgnfd commented on #69
can you please add darkking1029@gmail.com ?

[2020-03-14 17:54] Cliff-R-K commented on #69
please add me to: silvercircle666@gmail.com

[2020-03-15 05:21] Unrootedking3176 commented on #69
pls add unrootedking3176@gmail.com

[2020-03-15 09:41] psharma04 commented on #79
Until the dev uploads the .crx again, here's a link: https://share.dmca.gripe/0VufZNbmf3XHMZd8.crx

[2020-03-15 09:45] psharma04 commented on #79
You'll probably have to manually install it because Chrome doesn't allow packed extensions from outside the Web Store. To do this, clone/download this repository. Then, go to chrome://extensions and enable developer mode. Finally, click "load unpacked extension" and navigate to the cloned "Pulsarr" folder.

[2020-03-15 13:06] Chiggy-Playz commented on #79
Yeah, I did that step a few days ago, and as expected, it works.

[2020-03-15 13:06] #79 closed, assigned to nobody

[2020-03-20 18:09] jer3my11 commented on #69
Please add me to:  jeremy11@gmail.com

Thanks!

[2020-03-21 11:09] ghost commented on #69
@darkking1029 @burton666 @Unrootedking3176 @jer3my11 done

[2020-03-27 16:54] segersniels commented on #69
Please add me: nielssegers0@gmail.com 🙏

[2020-03-27 18:26] ghost commented on #69
@segersniels done

[2020-04-01 19:02] methanoid commented on #78
Same problem for me on FF74 x64 ... If I remove other extensions it still doesnt appear so I really dont think I have filled the space...

[2020-04-04 21:56] unrealbe commented on #76
I got the exact same issue.

[2020-04-05 17:40] Tyralyon commented on #69
Can you please add me as well? :) tyralyon@gmail.com

[2020-04-11 20:13] gammeflamme commented on #69
let the addon gods bless me at Wilhelm.flamman@gmail.com

[2020-04-11 20:29] ghost commented on #69
@Tyralyon @gammeflamme done

[2020-04-12 18:08] marcjmiller commented on #69
please add REDACTED, thanks!

[2020-04-13 03:24] rhythm493 commented on #69
@mnervik Please add rhythm493@gmail.com and ridamphule@gmail.com
Thanks !

[2020-04-15 12:36] JustOMaR-ZX commented on #69
Hello Mr. mnervik  ,
I have registered just for this extension : ),
Can you please add me ?

justxomar@gmail.com

[2020-04-20 17:06] ghost commented on #69
@marcjmiller @rhythm493 @JustOMaR-ZX done

[2020-04-26 18:23] dovry commented on #69
@mnervik Could you create a form submission somewhere? I'm not comfortable leaving my email on a publicly available comment section.

[2020-04-27 05:10] ghost commented on #69
@dovry I've created a public form on google, keep in mind that i won't be able to notify you when I get around to adding any of the emails! [Form Url](https://forms.gle/J4ABohoWHZJWXLEV8)

The better solution, as I've stated [above](https://github.com/roboticsound/Pulsarr/issues/69#issuecomment-476415729), you are free to upload the extension to your own google-account, that way you have full cont

[2020-05-08 02:10] JustOMaR-ZX commented on #69
Thanks Dear,
but it is not working for me for some reasons ?

https://i.imgur.com/mubjJhA.jpg

[2020-06-23 19:40] Laddyacris commented on #76
Hello
how install pulsarr on synology ?

[2020-06-25 10:40] Animizio commented on #69
@mnervik I filled the Form, pls add me :)

[2020-10-26 21:01] Bosse-S commented on #69
Cna you pls add med?

bosses@gmail.com

[2020-11-03 12:14] kariofillis commented on #69
Can you please add me as well?
kariofillisp@gmail.com

[2020-11-12 02:46] xiongster commented on #69
How to manually add the extension in chrome?

[2020-11-19 14:12] ghost commented on #69
It's been a while 😄

Just added all the addresses posted though the form and also @Bosse-S.

[2020-11-19 14:29] ghost commented on #69
1. Download the extension from this github-page
   1. Go to [https://github.com/roboticsound/Pulsarr](https://github.com/roboticsound/Pulsarr)
   2. Click _Code_
   3. Click _Download ZIP_
2. Follow this [TUTORIAL](https://youtu.be/vW8W19W_X0I?t=65) on YouTube

[2020-11-20 23:07] Animizio commented on #69
downloaded and installed it, but cant use it to add anything.

[2020-11-20 23:54] Bosse-S commented on #69
Working as a charm, thanks

/Bosse

From: Animizio <notifications@github.com>
Sent: den 21 november 2020 00:08
To: roboticsound/Pulsarr <Pulsarr@noreply.github.com>
Cc: Bosse-S <bosse@multi.se>; Mention <mention@noreply.github.com>
Subject: Re: [roboticsound/Pulsarr] Extension missing on chrome web store (#69)

How to manually add the extension in chrome?

1.	Download the extension from this githu

[2021-02-02 15:52] quietcore commented on #39
Under Site access do you have "On all sites" enabled?

![image](https://user-images.githubusercontent.com/1204778/106625635-391cad80-654d-11eb-9e75-e11eb023eb00.png)

If you want to limit access you will need to enable the following sites

![image](https://user-images.githubusercontent.com/1204778/106626311-f60f0a00-654d-11eb-9620-73d9fe2d3c63.png)

[2021-02-02 16:03] quietcore commented on #26
Trakt support seems to no longer be working. Can this be re-enabled?

[2021-02-22 16:32] Paelsmoessan opened #81 "Movies not being added to Radarr, Sonarr works fine."
Radarr Version: 3.1.0.4641
.NET: Yes (5.0.3)

2021-2-22 17:29:17.8|Debug|SabnzbdProxy|Url: http://localhost:8080/api?mode=queue&start=0&limit=0&apikey=(removed)&output=json
2021-2-22 17:29:18.8|Debug|SabnzbdProxy|Url: http://localhost:8080/api?mode=history&start=0&limit=60&category=movies&apikey=(removed)&output=json
2021-2-22 17:29:19.9|Debug|Api|[GET] /api/v3/queue/details: 200.OK (4 ms)
2021-2-

[2021-03-14 13:44] HaraldBluetooth63 opened #82 "Popup Window - Add to Radarr - error"
When you at IMDB or Trakt sites get the popup window 'Add to Radarr', and the movie already exists, and you press the button 'Already Exists' - it tries to open the URL: localhost:7878/movies/'number' - where it should be localhost:7878/movie/'number'. This happens in Edge browser on a Windows 10 pc.

[2021-03-19 01:59] inspector71 opened #83 "Abandonware?"

[2021-03-22 23:13] fpy-homeb opened #84 "Docker unable to add author"

[2021-03-22 23:13] fpy-homeb commented on #84
Hey
I am getting error: ReadarrErrorPipeline: Request Failed. POST /api/v1/author.
Any ideas?

[2021-03-27 15:05] Sturmkater commented on #78
Same here:-(

[2021-07-27 23:47] Stevev91 opened #86 "[Chrome] "Failed to add movie! Please check it is not already in your collection." Everytime I try to add a movie."
I've tried with different movies that I'm 100% positive do not exist in my collection. I've double-checked everything on settings and even reinstalled the extension to no avail. What can I do? Thank you!

![pulsarr](https://user-images.githubusercontent.com/88064130/127241640-059d4a49-0717-4ce7-8a90-09d7b34d9cc7.png)

[2021-08-28 00:32] DoubtfulTurnip commented on #86
Also having this issue using Firefox.

This is my log from Radarr;

[code]

[2021-12-15 10:33] Noado commented on #55
Looks like it will never be implemented

[2022-01-20 00:43] klepp0906 opened #88 "Connects to Sonarr fine, will not connect to Radarr"
No idea what is going on but after spending the last hour on it, im gonna have to harass the experts :P

this is all on the same local machine.  I put in my IP, my port, my api key.   saved sonarr fine.  I try the same IP, and put in radarr's port and api key and I get Error:(404)Not found.

anyone have any ideas?

[2022-02-20 13:07] TrySpace commented on #83
https://github.com/zebbe152/Pulsarr

[2022-02-20 13:07] TrySpace commented on #88
This fork has updated API: https://github.com/zebbe152/Pulsarr

[2022-02-20 13:08] TrySpace commented on #86
Try this fork: https://github.com/zebbe152/Pulsarr

[2022-02-20 13:08] TrySpace commented on #82
Working Fork: https://github.com/zebbe152/Pulsarr

[2022-02-20 13:08] TrySpace commented on #81
Working Fork: https://github.com/zebbe152/Pulsarr

[2022-02-20 13:08] TrySpace commented on #71
Working Fork: https://github.com/zebbe152/Pulsarr

[2022-02-20 13:08] TrySpace commented on #77
Working Fork: https://github.com/zebbe152/Pulsarr

[2022-02-20 13:09] TrySpace commented on #65
Try this fork: https://github.com/zebbe152/Pulsarr

[2022-02-20 13:19] klepp0906 commented on #88
thank you!

[2022-06-25 09:15] JMort92 commented on #88
Do I need to build an xpi from this?

[2022-06-28 13:10] TrySpace commented on #88
@JMort92 You can point to an unpacked directory if you have development mode enabled

[2022-06-29 20:05] dilirity commented on #88
Can confirm, does not work even with the forked version on latest radarr.

[2022-06-29 21:29] zebbe152 commented on #88
@dilirity I'm running Radarr 4.1.0.6175 (latest from the develop branch) and Chrome 103.0.5060.53 and it works just fine here.

Which version of radarr are you running?

[2022-06-30 04:56] dilirity commented on #88
@zebbe152 - Radarr 4.1.0.6175 (latest, Windows build) and Firefox 102.0.

Interestingly, today everything is working - weird. Sorry for the false alarm.